@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.App {
  font-family: 'Poppins', sans-serif;
}

/*
Ces propriétés sont spécifiques aux navigateurs Webkit (comme Safari et Chrome) et Mozilla (Firefox) respectivement. 
Elles contrôlent la manière dont les polices de caractères sont rendues pour améliorer la lisibilité. 
"antialiased" et "grayscale" sont des techniques de lissage des polices pour les rendre plus nettes et agréables à lire à l'écran. 
Ces déclarations améliorent la qualité de rendu du texte dans les navigateurs respectifs.
*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none ;
}