.flex-containerInf {
  display: flex;
  margin: 1em;
  margin-bottom: 0;
  align-items: center;
  min-height: 74vh;
}

.item0 {
  margin: 1em;
  padding: 0.5em;
  width: 110px;
  min-width: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 95px;
}

#descriptionInf {
  color: #d3d3d3;
  padding-bottom: 10px;
}

#titleFilmInf {
  color: black;
}

.informations {
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.25em;
}

.descriptioninformations {
  padding-top: 10px;
  font-weight: 400;
  font-size: 0.95em;
}

.bellowIcon {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .flex-containerInf {
    flex-direction: column;
    align-items: flex-start;
  }

  .item0{
    width: auto;
  }

  .item{
    width: auto;
    margin-top: auto;
  }

  .bellowIcon {
    padding-top: 16px;
  }
}
