.navbarMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  min-height: 45px;
  padding: 1rem;
  color: #383e42;
  font-size: 0.9em;
  z-index: 99;
  transition: background-color 0.3s, color 0.3s;
}

.navbarLink:hover {
  color: gray;
}

.navbarLogo {
  color: black;
  font-weight: bolder;
}

.navbarLinks {
  display: flex;
  margin-right: 30px;
}

.navbarLink {
  padding: 0 0.3rem;
  color: inherit;
}

.navbarBurger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 767px) {
  .navbarLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: #383e42;
    color: white;
    transition: all 0.8s ease-out;
  }

  .show-nav .navbarLinks {
    width: 100vw;
    right: 0;
    visibility: visible;
  }

  /*Barre entre les mots*/
  .navbarItem::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: white;
  }

  .navbarItem:last-child::after {
    display: none;
  }

  .navbarLink {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbarBurger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .navbarBurger:hover {
    cursor: pointer;
  }

  .burgerBar,
  .burgerBar::before,
  .burgerBar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #9b9b9b;
    transition: all 0.5s ease-in-out;
  }

  .burgerBar::before,
  .burgerBar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burgerBar::before {
    transform: translateY(-12px);
  }

  .burgerBar::after {
    transform: translateY(12px);
  }

  .show-nav .burgerBar::before {
    transform: rotate(45deg);
  }

  .show-nav .burgerBar::after {
    transform: rotate(-45deg);
  }

  .show-nav .burgerBar {
    width: 0;
    background: transparent;
  }

  /* burger button animation */
  .navbarItem {
    transform: translateY(100vh);
  }

  .show-nav .navbarItem {
    transform: translateY(0);
  }

  .show-nav .slideInDown-1 {
    transition: all 1s ease-out;
  }
  .show-nav .slideInDown-2 {
    transition: all 1.1s ease-out;
  }
  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-out;
  }
  .show-nav .slideInDown-4 {
    transition: all 1.3s ease-out;
  }
  .show-nav .slideInDown-5 {
    transition: all 1.4s ease-out;
  }
  .show-nav .slideInDown-6 {
    transition: all 1.5s ease-out;
  }
}

/* Add these styles for the scrolled class */
.scrolled {
  background-color: #222; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
  min-height: 25px;
}


