.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

/* test de modif dans branche back */
.navbar .leftSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar a {
  color: #383e42;
  line-height: 1.5em;
  font-size: 0.8em;
  text-decoration: none;
  margin: 10px;
}

.navbar a:hover {
  color: gray;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #383e42;
  cursor: pointer;
}

.navbar #open {
  padding-left: 0px;
}

.navbar #close {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }

  .navbar .hiddenLinks a {
    font-size: 0.2em;
  }

  .navbar #open .title {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .rightSide button {
    display: none;
  }
  .hiddenLinks a {
    display: none;
  }
}
